<h1>Posts</h1>
<div class='blogwithinfinitescroll' 
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="500"
    (scrolled)="appendPage()">
  <div *ngIf="posts == undefined; then loading else content"></div>
  <ng-template #loading>Loading...</ng-template>
  
  <ng-template #content>
    <div *ngFor="let post of posts">
      <a [routerLink]="[post.ID]">
      <h4 [innerHTML]="post.title">Loading...</h4></a>
      <p [innerHTML]="post.excerpt"></p>
    </div>
    <div *ngIf="isLoading == 'true'; then loading" ></div>
  </ng-template>
</div>